<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="ftClientId" name="ftClientId" th:value="${ftClient.ftClientId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">营销人员：</label>
								<div class="col-sm-8">
									<input id="marketerId" readonly="readonly" th:value="${ftClient.marketerName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">客户代码：</label>
								<div class="col-sm-8">
									<input id="clientNo" readonly="readonly" th:value="${ftClient.clientNo}" class="form-control" type="text" >
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">客服人员ID：</label>
								<div class="col-sm-8">
									<input id="servicerId" readonly="readonly" th:value="${ftClient.servicerId}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">操作人员ID：</label>
								<div class="col-sm-8">
									<input id="operatorId" readonly="readonly" th:value="${ftClient.operatorId}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">服务合同号：</label>
								<div class="col-sm-8">
									<input id="serviceContractNo" readonly="readonly" th:value="${ftClient.serviceContractNo}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">审核备注(不通过理由)：</label>
								<div class="col-sm-8">
									<input id="auditRemark" name="auditRemark" th:value="${ftClient.auditRemark}" class="form-control" type="">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">审核状态：</label>
								<div class="col-sm-8">
									<input type="radio" value="4" name="auditStatus">审核通过
									<input type="radio" value="3" name="auditStatus">审核不通过
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ft/ftClient/companyAudit.js">
	</script>
</body>
</html>
